.section-13
	padding: 30px 15px
	background-color: #f4f4f4
	&.section
		h2
			margin-bottom: 0
	.section-13-owl
		margin-bottom: 30px
	.section-13__item 
		display: flex
		background-color: #fff
		border-radius: 3px
		padding: 20px
		box-shadow: 0 15px 25px 0 rgba(0,0,0,.15)
		margin: 30px auto
		max-width: 970px
		.owl-left
			flex: 1 1 40%	
			margin-right: 25px
			background-size: cover
			background-repeat: no-repeat
			background-position: center center
		.owl-right
			flex: 1 1 66%
		.owl-wrap
			display: flex
			text-align: right
			justify-content: space-between
			span
				display: block
				color: #60b022
			h3, p
				margin-top: 0
			h3
				text-transform: uppercase
			p
				font-size: 14px
				font-weight: 300
				line-height: 1.3
		.owl-text
			max-height: 270px
			overflow-y: scroll
			font-weight: 300
			line-height: 1.4
			padding-right: 15px