.section-16
	padding: 10px 15px 50px
	.timer-box
		display: flex
		min-width: 150px
	.block-time
		position: relative
		max-width: 488px
		border: 1px solid #68952f
		background-color: #f0f4ea
		margin: 0 auto 40px
		padding: 8px
		border-radius: 5px
		display: flex
		align-items: center
		color: #68952f
		font-weight: 300
		line-height: 1.4
		&::before
			content: ""
			position: absolute
			top: 8px
			right: 158px
			width: 1px 
			height: calc(100% - 20px)
			background-color: #68952f
		.time__text
			padding-right: 10px
		.time__time 
			position: relative
			display: flex
			font-size: 36px
			font-weight: 300
			margin-right: 4px
			&::before
				content: ":"
				position: absolute
				font-size: 36px
				top: 0
				left: 48px
				color: #68952f
			&:last-child
				margin-left: 6px
				&::before
					display: none
			.time-min
				margin-right: 8px
	.section-16__block
		display: flex
		justify-content: space-between
		align-items: flex-start
		flex-wrap: wrap
		.block__item
			flex: 1 1 33%
			margin: 0 10px 30px
			background-color: #fff
			box-shadow: 0 5px 25px 0 rgba(#000, .15)
			max-width: 370px
			border-radius: 3px
			min-width: 280px
			font-weight: 300
			overflow: hidden
			padding-top: 20px
			>img
				max-width: 100%
				width: 100%
	input[type="radio"]
		position: absolute
		opacity: 0
		&:checked + span
			background-color: #68952f
			border: 1px solid #68952f
			color: #fff
			.checked__text
				opacity: 1
				background-color: #68952f
				color: #fff
	label.button
		position: relative
		display: block
		text-align: center 
		width: 100%
		height: 48px
		line-height: 48px
		border: 1px solid #bdbdbd
		background-color: transparent
		cursor: pointer
		transition: all 0.3s ease
		border-radius: 2px
		outline: none
		overflow: hidden
		span
			background-color: #fff
			display: block
			transition: background-color 0.3s
			.checked__text
				position: absolute
				top: 0
				width: 100%
				opacity: 0
				z-index: 2
				transition: opacity 0.2s
				&::before
					content: ""
					position: absolute
					background-image: url(../img/check-white.png)
					background-size: cover
					background-position: 0 0
					left: 82px
					top: 15px
					width: 18px
					height: 14px
					background-repeat: no-repeat
		&:hover
			border: 1px solid #68952f
			color: #68952f
.block__text
	li
		position: relative
		padding: 12px  12px  12px 55px
		background-image: url(../img/section-16-icons.png)
		background-repeat: no-repeat
		background-position: -6px 0px
		border-bottom: 1px solid #e4e4e4
		line-height: 1.3
		&.block__text-first
			background-color: #f4f4f4
			background-image: none
			padding-left: 15px
			display: flex
			justify-content: space-between
		&:nth-child(2)
			background-position: -6px -0px
		&:nth-child(3)
			background-position: -6px -60px
		&:nth-child(4)
			background-position: -6px -118px
		&:nth-child(5)
			background-position: -6px -190px
		&:nth-child(6)
			background-position: -6px -262px
		&:nth-child(7)
			background-position: -6px -338px
		&:nth-child(8)
			background-position: -6px -338px
		&.block__text-last
			padding: 15px
			background-image: none

			

@media only screen and (max-width : 1200px)
	.section-16
		.section-16__block
			justify-content: space-around